* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.menuList {
    display: none;
}

.menu__icon {
    height: 2vw;
}

/* 
.menuList--vertical {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    margin: 70px 10px 0 auto;
}

.menuList--vertical.visible {
    max-height: 600px;
    top: 100px;
    right: 400px;
    background-color: #282828;
    padding: 10px;
    margin: 70px 10px 0 auto;
    position: absolute;
}

.menuList--vertical li {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.menuList--vertical.visible li {
    opacity: 1;
    transform: translateY(0);
} */

.hero {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(../images/6974845_4370.jpg);
    height: 80vw;
    background-size: cover;
    background-position: center;
    margin-top: 1em;
}

.hero__image {
    display: none;
}

.hero__hgroup {
    color: black;
    font-size: 0.75rem;
}

.hero__hgroup h1 {
    font-weight: 700;
}

.briefIntro {
    display: flex;
    gap: 2em;
    align-items: center;
    padding: 2em 1em;
}

.briefIntro__description {
    font-size: 1rem;
    /* flex: 1 400px; */
}

.briefIntro__image {
    width: 100em;
}

.about-wrapper,
.portfolio-wrapper,
.blog-wrapper {
    font-size: 1rem;
    text-align: center;
    /* background: lightgray; */
    line-height: 1.5em;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5em;
}

.projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

.contact {
    width: 50%;
    margin: 0 auto;
}

.resume {
    color: blue;
    text-decoration: underline;
}

/* 
header,
footer {
    flex: 1;
} */

main {
    position: relative;
    flex: 1;
}

img {
    max-width: 100%;
}

video {
    width: 50%;
}


header {
    display: flex;
    justify-content: end;
    padding: 15px;
    background-color: #282828;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1.5em 0;
}

.dropDown__image {
    height: 4vh;
}

.links a {
    text-decoration: none;
    color: black;
}

.links :hover {
    color: brown;
}

.callToActionButton {
    border: bisque;
    border-radius: 10px;
    background: lightblue;
    padding: 0.75em;
    margin-bottom: 1em;
    max-width: 300px;
}

.callToActionButton :hover {
    background-color: rgb(69, 89, 96);
}

.skillSet {
    border-collapse: collapse;
}

.skillSet,
.skillSet th,
.skillSet td {
    border: 1px solid black;
}

.aside {
    border-radius: 10px;
    background: beige;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.aside__lists {
    padding: 5px;
}


.footer {
    display: grid;
    font-size: 1vw;
    padding: 2em;
    background-color: #282828;
    color: white;
}

.footer__navigation {
    grid-column: 2;
    align-self: center;
}

.footer__copyRight {
    grid-column: 3;
    align-self: center;
}

.footer__navList {
    list-style-type: none;
}

.footer__linkImage {
    height: 2vw;

}

.project__image {
    max-width: 270px;
}

.contact-form {
    margin: 3em;
}

.input {
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(69, 89, 96);
}

.blog-card {
    border: 1px solid rgba(0, 255, 255, 0.178);
    background: rgba(211, 211, 211, 0.172);
    padding: 10px;
    margin: 5px;
}

.mainWrapper {
    display: grid;
    grid-template: repeat(4, auto) / 100%;
    row-gap: 1.5em;
    margin: 2em;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.side {
    display: grid;
    grid-template: auto / auto 115px;
    column-gap: 1em;
}

.hobbyAndContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hobbyAndContact__links {
    align-self: flex-start;
    padding-bottom: 1.5em;
}

.hobbyAndContact__hobbies {
    margin-top: 2em;
}

.hobbyAndContact__links a {
    padding: 1.5em;
}

.hobbyAndContact__hobbyList {
    margin: 0 0 2em
}

.hobbyAndContact__links,
.about-wrapper h1,
.hobbyAndContact__hobby,
video {
    margin-bottom: 1.5em;
}

.card {
    display: grid;
    grid-template: auto / auto auto;
}

@media screen and (min-width: 480px) {
    .menu {
        display: none;
    }

    nav {
        max-width: 100%;
        flex: 1 470px;
    }

    .menuList {
        display: flex;
    }

    .menuList__item {
        font-size: 1.5rem;
        flex: 1 95px;
    }

    .menuList__link {
        text-decoration: none;
    }

    .hero {
        background: none;
        display: flex;
        align-items: center;
        height: 50vw;
        margin: 4em 1em 2em 1em;
    }

    .hero__image {
        width: 50%;
        display: block;
        order: 2;
    }

    .hero__hgroup {
        font-size: 1rem;
        flex: 1 50%;
    }

    .hobbyAndContact__hobbies,
    .hobbyAndContact__hobbyList,
    .hobbyAndContact__links {
        align-self: flex-end;
        text-align: center;
    }

    .projectList {
        flex-wrap: wrap;
    }

    .footer__navList {
        display: flex;
        gap: 3em;
    }
}

@media screen and (min-width: 769px) {
    .about-wrapper {
        font-size: 1.5rem;
    }

    .side {
        grid-template: auto / auto 200px;
    }

    header {
        justify-content: end;
    }

    nav {
        flex: 0 240px;
    }

    .menuList__item {
        font-size: 1.25rem;
        flex: 0 40px;
        margin-right: 2.5em;
    }

    .hero {
        background: none;
        display: flex;
        align-items: center;
        height: 50vw;
    }

    .hero__hgroup {
        font-size: 2rem;
        flex: 1 50%;
    }

    .hero__image {
        order: 2;
        width: 50%;
    }

    .side {
        margin-left: 10em;
    }

    .briefIntro__description {
        font-size: 1.75rem;
    }

    .projectList {
        flex-direction: row;
        justify-content: space-between;
        margin: 5em;
    }

    .project__image {
        height: 12em;
        width: 15em;
    }
}

.menu img {
    width: 5em;
}

.menuList--vertical {
    display: none;
}

.menuList--vertical li {
    margin-bottom: 10px;
}

.menuList--vertical li a {
    text-decoration: none;
    color: white;
}

.mainWrapper {
    margin-top: 10em;
}

.menuList__link {
    color: white;
}

.menuList__link:hover,
.menuList--vertical li a:hover {
    background-color: white;
    color: black;
}

#project__description {
    display: none;
}

#project__description.show {
    max-width: 300px;
    background: lightblue;
    border-radius: 10px;
    border: bisque;
    padding: 5px;
    margin-bottom: 10px;
    display: block;

}

.confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}